@mixin font-light {
  font-family: $font-main;
  font-weight: 200;
}

@mixin font-normal {
  font-family: $font-main;
  font-weight: 400;
}

@mixin font-bold {
  font-family: $font-main;
  font-weight: 700;
}

@mixin font-black {
  font-family: $font-main;
  font-weight: 900;
}

@mixin font-condensed {
  font-family: $font-condensed;
  font-weight: 400;
}

@mixin font-condensed-black {
  font-family: $font-condensed;
  font-weight: 900;
}

@mixin mobile {
  @media screen and (max-device-width: 650px), screen and (max-width: 650px) {
    @content;
  }
}

%grid-fund {
  background: $sidebar-color;
  @include box-sizing(border-box);
  display: block;
  height: 155px;
  overflow: hidden;
  padding: 1em;
  text-align: left;
  width: 185px;

  @include mobile {
    width: 100%;
  }
}
