.fund-causes {
  background: $sidebar-color;
  @include box-sizing(border-box);
  color: #ccc;
  max-width: 250px;
  overflow-y: scroll;
  padding: 25px;
  @include position(fixed, 0px 0 0px 0px);
  @include transition;
  z-index: 10;

  @include mobile {
    left: -225px;

    &:hover, &.active {
      left: 0;
    }
  }

  > h2 {
    @include font-condensed;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-bottom: .8em;
      text-shadow: 0 1px 0 #000;

      a {
        color: #ccc;
        display: block;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .selected {
    border-bottom: 2px solid #444;
    margin: 25px 0;
    padding-bottom: 20px;
    position: relative;

    &.deletable {
      &:after {
        background: #fff;
        border-radius: 100px;
        color: #666;
        content: 'x';
        font-family: courier, monospace;
        font-weight: 100;
        height: 23px;
        line-height: 21px;
        @include position(absolute, -8px -8px 0 0);
        text-align: center;
        width: 23px;
      }
    }

    a {
      border: 3px solid #fff;
      color: #fff;
      padding: 8px 10px;
    }
  }
}
