.fund-grid {
  @include box-sizing(border-box);
  padding: 25px;
  @include position(absolute, 0 0px 0 250px);

  header {
  .logo {
    margin: 0;
    text-align: center;
  }
  }

  .featured-funds {
  
  }

  .filtered-funds {
  
  }
}
