.fund-grid {
  @include box-sizing(border-box);
  padding: 25px 0 0 25px;
  @include position(absolute, 0 0px 0 250px);

  header {
    .logo {
      margin: 0;
      text-align: center;
    }

    .cart {
      @include position(fixed, 0px 25px 0 0);
    }
  }

  .featured-funds, .filtered-funds {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .featured-funds {
    margin-bottom: 3.5em;

    h2 {
      @include font-light;
      font-size: 2em;
      margin-bottom: 1em;
      text-align: center;
      text-transform: capitalize;
    }

    ul {
      text-align: center;

      li {
        display: inline-block;
        margin: 0 35px 35px 0;

        a {
          @extend %grid-fund;
          color: #fff;
          float: left;
          height: 180px;
          overflow: visible;
          padding: 1em;
          position: relative;
          text-decoration: none;
          width: 240px;

          &:hover {
            .fakebutton {
              background: $secondary-cta;
            }
          }

          h3, .fakebutton {
            @include font-condensed;
            font-size: 2em;
            line-height: 1.1em;
            margin: 0;
            position: relative;
            text-shadow: 0 1px 0 #000;
            z-index: 2;
          }

          .fakebutton {
            background: $main-cta;
            display: block;
            padding: 8px 24px;
            @include position(absolute, 0 -10px -5px -10px);
          }

          img {
            @include position(absolute, 0px 0 0 0px);
          }
        }
      }
    }
  }

  .filtered-funds {
    .filter {
      margin-bottom: 25px;
      text-align: center;

      h2, select {
        display: inline-block;
        @include font-light;
        font-size: 1.8em;
      }

      select {
        background: #ddd;
        border: 0;
        border-radius: 0;
        margin-left: .4em;
        padding: .1em .4em;
        -webkit-appearance: none;
      }
    }

    ul {
      li {
        @extend %grid-fund;
        float: left;
        margin: 0 25px 25px 0;
        position: relative;

        &:hover {
          cursor: pointer;

          .cta {
            display: block;
          }
        }

        h3 {
          color: #fff;
          @include font-condensed;
          font-size: 1.4em;
          line-height: 1.2em;
          margin: 0;
          text-shadow: 0 1px 0 #000;
        }

        .cta {
          background: $main-cta;
          @include box-sizing(border-box);
          display: none;
          @include font-bold;
          @include position(absolute, 0px 0px 0px 0px);

          a {
            color: #fff;
            font-size: 1.2em;
            opacity: .8;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 #000;

            &:hover {
              opacity: 1;
            }
          }

          .details {
            display: block;
            margin-top: 2em;
            margin-bottom: 2em;
          }

          .givenow, .share {
            background: $secondary-cta;
            float: left;
            padding: 10px;
            width: 80px;
          }

          .share {
            width: 55px;
          }
        }
      }
    }
  }
}
