.fund-grid {
  @include box-sizing(border-box);
  padding: 25px 0 0 25px;
  @include position(absolute, 0 0px 0 250px);

  header {
    .logo {
      margin: 0;
      text-align: center;
    }

    .cart {
      @include position(fixed, 0px 25px 0 0);
      z-index: 10;

      a {
        background: $secondary-cta;
        color: #fff;
        display: block;
        @include font-condensed;
        font-size: 1.4em;
        line-height: 1.1em;
        margin: 0;
        padding: 8px 10px;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;

        &:hover {
          background: $main-cta;
        }
      }
    }
  }

  .featured-funds, .filtered-funds {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .featured-funds {
    margin-bottom: 3.5em;

    h2 {
      @include font-light;
      font-size: 2em;
      margin-bottom: 1em;
      text-align: center;
      text-transform: capitalize;
    }

    ul {
      text-align: center;

      li {
        display: inline-block;
        margin: 0 35px 35px 0;

        a {
          @extend %grid-fund;
          color: #fff;
          float: left;
          height: 180px;
          overflow: visible;
          padding: 1em;
          position: relative;
          text-decoration: none;
          width: 240px;

          &:hover {
            .fakebutton {
              background: $secondary-cta;
            }
          }

          h3, .fakebutton {
            @include font-condensed;
            font-size: 2em;
            line-height: 1.1em;
            margin: 0;
            position: relative;
            text-shadow: 0 1px 0 #000;
            z-index: 2;
          }

          .fakebutton {
            background: $main-cta;
            display: block;
            padding: 8px 24px;
            @include position(absolute, 0 -10px -5px -10px);
          }

          img {
            @include position(absolute, 0px 0 0 0px);
          }
        }
      }
    }
  }

  .filtered-funds {
    .filter {
      margin-bottom: 25px;
      text-align: center;

      h2, select {
        display: inline-block;
        @include font-light;
        font-size: 1.8em;
      }

      select {
        background: #ddd;
        border: 0;
        border-radius: 0;
        margin-left: .4em;
        padding: .1em .4em;
        -webkit-appearance: none;
      }
    }

    > ul {
      > li:not(.detail) {
        @extend %grid-fund;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;

        &:hover {
          cursor: pointer;

          .cta {
            display: block;
          }
        }

        &.selected {
          &:after {
            background: #fff;
            content: '';
            height: 16px;
            margin-left: -8px;
            @include position(absolute, 0 0 -8px 50%);
            @include transform(rotate(45deg));
            width: 16px;
            z-index: 2;
          }
        }

        h3 {
          color: #fff;
          @include font-condensed;
          font-size: 1.4em;
          line-height: 1.2em;
          margin: 0;
          text-shadow: 0 1px 0 #000;
        }

        .cta {
          background: $main-cta;
          @include box-sizing(border-box);
          display: none;
          @include font-bold;
          @include position(absolute, 0px 0px 0px 0px);
          z-index: 3;

          a {
            color: #fff;
            font-size: 1.2em;
            opacity: .8;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 #000;

            &:hover {
              opacity: 1;
            }
          }

          .details {
            display: block;
            padding: 45px 0;
          }

          .givenow, .share {
            background: $secondary-cta;
            float: left;
            padding: 14px 10px;
            width: 80px;
          }

          .share {
            width: 65px;
          }
        }
      }

      li.detail {
        background: #fff;
        margin-bottoM: 25px;
        overflow: auto;
        width: 100%;

        .content {
          float: left;
          width: 375px;

          h2 {
            color: $sidebar-color;
            @include font-condensed;
            font-size: 2.6em;
            line-height: 1.1em;
            margin-bottom: .5em;
          }

          .cta {
            display: block;
            overflow: auto;

            a {
              background: $main-cta;
              color: #fff;
              display: block;
              float: left;
              @include font-condensed;
              font-size: 1.4em;
              line-height: 1.2em;
              opacity: .8;
              padding: 10px;
              text-decoration: none;
              text-shadow: 0 1px 0 #000;

              &:hover {
                opacity: 1;
              }

              &.cart {
                background: $secondary-cta;
              }
            }
          }

          article {
            font-size: 1.4em;
          }

          .donors-you-know {
            h4 {
              margin-bottom: .5em;
            }

            ul {
              li {
                float: left;
                margin-right: 10px;
              }
            }
          }
        }

        aside {
          float: left;
          margin-left: 25px;
          width: 575px;

          li {
            float: left;
            margin-right: 25px;
            width: 175px;

            &:last-child {
              margin-right: 0;
            }

            figcaption {
              @include font-bold;
              margin-top: -3em;
            }

            img {
              border-radius: 200px;
            }
          }
        }
      }
    }
  }
}
