.fund-grid {
  @include box-sizing(border-box);
  padding: 25px 0 0 25px;
  @include position(absolute, 0 0px 0 250px);

  @include mobile {
    left: 10px;
    right: 10px;
  }

  header {
    .logo {
      margin: 1em 0 0 0;
      text-align: center;
    }

    .cart {
      @include position(fixed, 0px 25px 0 0);
      z-index: 10;

      @include mobile {
        right: 10px;
      }

      a.givenow, a.donate {
        background: $secondary-cta;
        color: #fff;
        display: block;
        float: right;
        @include font-condensed;
        font-size: 1.4em;
        line-height: 1.1em;
        margin: 0;
        overflow: auto;
        padding: 8px 10px;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;

        &.givenow {
          background: $main-cta;

          &:hover {
            background: $secondary-cta;
          }
        }

        &:hover {
          background: $main-cta;
        }
      }

      .cartitems {
        background: #fff;
        @include box-shadow(0 4px 12px rgba(0, 0, 0, .35));
        display: block;
        list-style-type: none;
        margin: 0;
        padding: .5em;
        @include position(absolute, 45px 0px 0 0);
        width: 220px;

        li {
          a {
            border: 3px solid transparent;
            color: #000;
            display: block;
            padding: .75em 1em;
            text-decoration: none;

            &:hover {
              border: 3px solid $main-cta;
            }

            &:active {
              background: $main-cta;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .featured-funds, .filtered-funds {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .featured-funds {
    margin-bottom: 1em;

    h2 {
      @include font-light;
      font-size: 2em;
      margin: 0 0 1em 0;
      text-align: center;
      text-transform: capitalize;
    }

    ul {
      text-align: center;

      .featured-fund {
        display: inline-block;
        margin: 0 17px 35px;
        min-width: 260px;
        width: 28%;

        @include mobile {
          display: block;
          margin: 0 0 15px;
          width: 100%;
        }

        a {
          @extend %grid-fund;
          color: #fff;
          float: left;
          height: 190px;
          overflow: hidden;
          padding: 1em;
          position: relative;
          text-decoration: none;
          width: 100%;

          @include mobile {
            float: none;
          }

          &:hover {
            .fakebutton {
              background: $secondary-cta;
            }
          }

          h3, .fakebutton {
            @include font-condensed;
            font-size: 2em;
            line-height: 1.1em;
            margin: 0;
            position: relative;
            text-shadow: 0 1px 0 #000;
            z-index: 2;
          }

          .fakebutton {
            background: $main-cta;
            display: block;
            padding: 8px 24px;
            @include position(absolute, 0 -10px 0px -10px);

            @include mobile {
              left: 0;
              right: 0;
            }
          }

          img {
            @include position(absolute, 0px 0 0 0px);
            width: 100%;
          }
        }
      }
    }
  }

  .filtered-funds {
    .filter {
      margin-bottom: 25px;
      text-align: center;

      @include mobile {
        margin-bottom: 35px;
      }

      h2, select {
        display: inline-block;
        @include font-light;
        font-size: 1.8em;

        @include mobile {
          margin-bottom: 0;
          text-align: center;
        }
      }

      select {
        background: #ddd;
        border: 0;
        border-radius: 0;
        margin-left: .4em;
        padding: .1em .4em;
        -webkit-appearance: none;
      }
    }
  }
}
